global:
  scrape_interval: 15s # 메트릭 수집 주기 15초
  evaluation_interval: 15s

  external_labels:
    monitore: 'popup-monitor' # 기본적으로 붙여줄 라벨
  query_log_file: 'query_log_file.log' # prometheus 의 쿼리 로그를 기록할 파일의 경로 / prometheus 실행 시 자동으로 생성

rule_files:
  - 'alert_rules.yml'

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alert-manager:9093']

scrape_configs:
  - job_name: 'spring-boot-server' # job_name 은 모든 scrap 내에서 고유해야함
    metrics_path: '/actuator/prometheus'
    static_configs:
        # host.docker.internal - Spring Boot 애플리케이션이 Docker 컨테이너 외부의 호스트 머신에서 실행 중이라면,
        #                        Prometheus 가 이 이름을 통해 호스트 머신의 8080 포트에 접근할 수 있다
        - targets: ['${EC2_HOST}:8080'] # 메트릭을 수집할 호스트 정보

  - job_name: 'server'
    static_configs:
      - targets: ['node-exporter:9100']




