name : Spring Boot Ec2 CI/CD Test

on:
  pull_request:
    branches:
      - "dev"
#    types:
#      - closed

jobs:
  on-merge:
    #if: github.event.pull_request.merged == true  # 병합된 경우에만 실행
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: make application.properties
        run: |
          cd ./src/main/resources
          touch ./application.properties
          echo "${{ secrets.PROPERTIES}}" > ./application.properties
        shell: bash

      # Gradle 실행권한 부여
      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

      # Spring boot application 빌드
      - name: Build with gradle
        run: ./gradlew clean build -x test

      - name: SSH into EC2 and pull latest code
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            # 클론한 디렉토리로 이동
            cd spoton-backend/

            # 최신 코드 pull (필요한 경우)
            git pull origin dev

            # Docker Compose 실행
            docker-compose down
            docker-compose up -d